.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.grey {
  background-color: lightgray;
}

.orange {
  background-color: orange;
}

.button {
  font-size: 20px;
  height: 66px;
  text-align: center;
  line-height: 66px;
  border: 0;
}

.button:hover {
  filter: brightness(110%);
}

.zero {
  grid-column: 1 / 3;
}
