.calculatorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;

  h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 25px;
    margin-bottom: 25px;
    color: rgb(241, 241, 241);
  }
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 40vw;
  min-width: 300px;
  background-color: rgb(240, 240, 240);
}